<!doctype html>

<!-- avatar -->
{{- if site.Params.author.avatar -}}<!---->
{{- if in site.Params.author.avatar "http" -}}<!---->
{{- $.Scratch.Set "avatar" site.Params.author.avatar -}}<!---->
{{- else -}}<!---->
{{- $official_cdn := "https://www.gravatar.com/avatar/" -}}<!---->
{{- $cdn := (site.Params.gravatarCdn | default $official_cdn) -}}<!---->
{{- $md5 := (md5 site.Params.author.avatar) -}}<!---->
{{- $avatar := print $cdn $md5 "?s=160&d=identicon" -}}<!---->
{{- $.Scratch.Set "avatar" $avatar -}}<!---->
{{- end -}}<!---->
{{- end -}}<!---->

<html lang="{{- or site.LanguageCode site.Language.Lang -}}"
  dir="{{- if site.Params.direction -}}{{- site.Params.direction -}}{{- else -}}ltr{{- end -}}">
{{- partial "head.html" . -}}

<body class="flex flex-col h-dvh items-center max-w-(--w) mx-auto">
  {{- partial "header.html" . -}}

  <main
    class="min-h-0 w-full flex-1 px-8 py-6 overflow-y-auto">
    {{- block "main" . -}}{{- end -}}
  </main>

  {{- partial "footer.html" . -}}
</body>

</html>