{{- define "main" -}}

<article class="prose
  prose-code:before:content-none
  prose-code:after:content-none
  dark:prose-invert
  mx-auto
  max-w-2xl
">
  <header>
    <h1>{{ .Title }}</h1>
    {{- if ne .Type "page" }}
    <div class="text-xs antialiased opacity-60">
      {{- if .Date }}
      <time>{{ .Date | time.Format ":date_medium" }}</time>
      {{- end }}

      {{- with .Params.authors }}
      <span class="mx-1">&middot;</span>
      <span>{{ delimit . ", " }}</span>
      {{- end }}
    </div>
    {{- end }}
  </header>

  <section class="text-justify [text-justify:inter-ideograph] [&_img]:mx-auto">{{- .Content -}}</section>

  <footer>
    <nav class="flex flex-wrap justify-center gap-x-8">
      {{ if site.Params.article.showEditLink | default true }}
      {{ with site.Params.repo }}
      {{ $repo := . }}
      {{ with $.File }}
      <a class="flex items-center gap-2" href="{{ urls.JoinPath $repo.url $repo.editPath $repo.branch "content"
        .Path}}" target="_blank" rel="noopener noreferrer">
        <svg class="size-4">
          <use href="/icons.svg#edit"></use>
        </svg>
        Fix typo
      </a>
      {{ end }}
      {{ end }}
      {{ end }}
      {{ if site.Params.article.showAuthorLinks | default true }}
      {{ with site.Params.author.email }}
      <a class="flex items-center gap-2" href="mailto:{{ . }}">
        <svg class="size-4">
          <use href="/icons.svg#email"></use>
        </svg>
        Get in touch
      </a>
      {{ end }}
      {{ with site.Params.author.codeberg }}
      <a class="flex items-center gap-2" href="https://codeberg.org/{{ . }}" target="_blank" rel="noopener noreferrer">
        <svg class="size-4">
          <use href="/icons.svg#codeberg"></use>
        </svg>
        {{ . }}
      </a>
      {{ end }}
      {{ with site.Params.author.github }}
      <a class="flex items-center gap-2" href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer">
        <svg class="size-4">
          <use href="/icons.svg#github"></use>
        </svg>
        {{ . }}
      </a>
      {{ end }}
      {{ end }}
    </nav>

    {{- with .Params.tags }}
    <nav class="mt-8 flex flex-wrap justify-center">
      {{- range . }}
      {{- $href := print (absURL "tags/") (urlize .) }}
      <a class="mb-1.5 rounded-lg bg-black/3 px-5 py-1 no-underline hover:bg-black/6 ltr:mr-1.5 rtl:ml-1.5 dark:bg-white/8 dark:hover:bg-white/12"
        href="{{ $href }}">
        {{ . }}
      </a>
      {{- end }}
    </nav>
    {{- end }}
  </footer>

  {{- end -}}