@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --w: calc(768px);
}

:root {
  color-scheme: light dark;
}

a {
  outline: 0 solid;
  outline-offset: 0;
  transition:
    outline-width 200ms ease,
    outline-offset 200ms ease;
}

a:focus-visible {
  outline-width: 2px;
  outline-offset: 4px;
}

a:focus {
  outline-width: 2px;
  outline-offset: 4px;
}

header nav a {
  opacity: 0.8;
  transition: opacity .2s;
}

header nav a.active {
  opacity: 1;
  font-weight: 600;
}