@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --w: calc(768px);
}

a {
  outline: 0 solid;
  outline-offset: 0;
  transition:
    outline-width 200ms ease,
    outline-offset 200ms ease;
}

a:focus-visible {
  outline-width: 2px;
  outline-offset: 4px;
}

a:focus {
  outline-width: 2px;
  outline-offset: 4px;
}

header nav a {
  opacity: 0.8;
  transition: opacity .2s;
}

header nav a.active {
  opacity: 1;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

@utility prose {
  :lang(en) {
    @apply hyphens-auto;
  }

  main {
    @apply text-justify [text-justify:inter-ideograph];
  }

  blockquote {
    @apply not-italic;

    p::before,
    p::after {
      @apply content-none;
    }
  }

  hr {
    @apply border-0 h-(--text-2xl--line-height) my-[1.25em] text-2xl;

    &::before {
      content: "❧";
      @apply block text-center;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover {
      a::after {
        content: "¶"
      }
    }

    &:target {
      @apply scroll-mt-6;
    }
  }

  img {
    @apply mx-auto rounded;
  }
}
