@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --w: calc(768px);
}

a {
  outline: 0 solid;
  outline-offset: 0;
  transition:
    outline-width 200ms ease,
    outline-offset 200ms ease;
}

a:focus-visible {
  outline-width: 2px;
  outline-offset: 4px;
}

a:focus {
  outline-width: 2px;
  outline-offset: 4px;
}

header nav a {
  opacity: 0.8;
  transition: opacity .2s;
}

header nav a.active {
  opacity: 1;
  font-weight: 600;
}

.prose hr {
  border: 0;
  height: var(--text-xl--line-height);
  margin-block: 1.25em;
}

.prose hr::before {
  content: "❧";
  display: block;
  text-align: center;
}

h1,
h2,
h3 {
  @apply font-medium;
}
