<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- title -->
  <title>
    {{- with .Title -}}
      {{- if not $.IsHome }}{{ . }} - {{ end -}}
    {{- end -}}
    {{- site.Title -}}
  </title>

  <!-- author -->
  {{- $author := site.Params.author.name | default site.Title -}}

  {{- if eq .Kind "page" -}}
  <meta name="description" content="{{ .Params.Description | default (.Summary | plainify | truncate 160) }}" />
  <meta name="author" content="{{ if .Params.authors }}{{ delimit .Params.authors ", " }}{{ else }}{{ $author }}{{ end }}" />
  {{- else -}}
  <meta name="description" content="{{ site.Params.description | default " A personal blog" }}" />
  <meta name="author" content="{{ $author }}" />
  {{- end -}}

  <!-- css & js -->
  {{- $main := resources.Get "main.css" -}}
  <!---->
  {{- $custom := resources.Get "custom.css" -}}
  <!---->
  {{- $css := slice $main $custom | resources.Concat "main.css" | minify | fingerprint -}}
  <link rel="preload stylesheet" as="style" href="{{- $css.Permalink -}}" integrity="{{ $css.Data.Integrity }}" />

  <!-- avatar -->
  {{- $avatar := $.Scratch.Get "avatar" -}}
  <!---->
  {{- if $avatar -}}
  <link rel="preload" as="image" href="{{- $avatar -}}" />
  {{- end -}}
  <!---->

  <!-- highlight js -->
  {{- if and .IsPage (not site.Params.disableHLJS) -}}
  <script defer src="{{- `highlight.min.js` | absURL -}}" onload="hljs.initHighlightingOnLoad()"></script>
  {{- end -}}

  <!-- math -->
  {{- if or .Params.math site.Params.math -}}
  <!---->
  {{- partial "math.html" . -}}
  <!---->
  {{- end -}}
  <!---->

  <!-- favicon -->
  <!-- <link rel="icon" href="{{- site.Params.favicon | default `favicon.ico` | absURL -}}" />
  <link rel="apple-touch-icon" href="{{- site.Params.appleTouchIcon | default `apple-touch-icon.png` | absURL -}}" /> -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#0f172a" media="(prefers-color-scheme: dark)">

  <!-- generator -->
  {{- hugo.Generator -}}

  <!-- production -->
  {{- if or hugo.IsProduction (eq site.Params.env "production") -}}
  <!---->
  {{- template "_internal/google_analytics.html" . -}}
  <!---->
  {{- template "_internal/schema.html" . -}}
  <!---->
  {{- template "_internal/opengraph.html" . -}}
  <!---->
  {{- template "_internal/twitter_cards.html" . -}}
  <!-- RSS -->
  {{- range .AlternativeOutputFormats -}}
  <link rel="{{- .Rel -}}" type="{{- .MediaType.Type -}}" href="{{- .Permalink -}}" title="{{- site.Title -}}" />
  {{- end -}}

  <!-- canonical -->
  <link rel="canonical" href="{{- .Permalink -}}" />
  {{- end -}}
  <!---->
</head>